// importing global rules
@import "./global";

/* Global-Google-Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* _Global Colors_ */
$blackMainColor: #000;
$textColor: #fff;
$profileNavBackground:#282828;
$profileNavDimText:  #E0E0E0; 
$iconDimColor: #B2B2B2;

/* __COMMON COLORS__SHARED */
$OutletBackground: #121212;
$textDescriptionColor: #A2A2A2;
$hoverbgColor: #282828;

/* helpful Mixins */

@mixin GridParentCentering{
    display: grid;
    justify-items: center;
    align-items: center
}
@mixin GridSelfCenter {
    justify-self: center;
    align-self: center
    
}


/* smaller screen  */
// setting padding from the main container
.MainApp_container{
    // all devices padding
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    color: #fff;
    //overflow: hidden;
}

.MA_header{
    z-index:7;
    position: fixed;
    top:0px;
    right: 0px;
    width: 100%;
    background-color: $blackMainColor;
    height: 65px;
    color: inherit;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 1fr auto auto 15px auto;
    grid-template-rows: 1fr;
    grid-template-areas: "MA_logotext . MA_headerprofilebtnnav . MA_mobileMenu";

    & .MA_logoTextContainer{
        grid-area: MA_logotext;
        justify-self: start;
        font-size: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5px;
        align-self: center;
        align-items: center;
        justify-items: center;

        & .MA_logoContainer{
            height: 36px;
            width: 36px;
            //border: 1px solid red;
            @include GridParentCentering;

            & svg {
                height: 100%;
                width: 100%;
            }
        }
        & .MA_logoText{
            font-weight: 700;
        }
    }

    & .MA_headerProfileBtnNav{
        grid-area: MA_headerprofilebtnnav;
        align-self: center;
        justify-self: center;
        height: 30px;
        width: 30px;
        cursor: pointer;

        /* Separate for Image and Icon */
        // color: #535353;

        //button
        & .MA_headerProfileBtn{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            overflow: hidden;

            & div.MA_headerProfileBtnIMGCON{
                //border: 1px solid red;
                height: 100%;
                width: 100%;
                display: grid;
                justify-items: center;
                align-items: center;
                font-size: 22px;
                background: rgb(83,83,83);
                & svg {
                    fill: #fff;
                }
                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & div.MA_headerProfileBtnNMCON{
              display: none;  
            }

            & div.MA_headerProfileBtnIIconCON{
                display: none;
            }


        }

        // ul
        & .MA_headerProfileNavYUL{
            padding: 4px;
            z-index: 6;
            position: absolute;
            right: 0;
            list-style-type: none;
            top: 40px;
            right: 0;
            width: 196px;
            border-radius: 5px;
            //background-color: $profileNavBackground;
            background: $hoverbgColor;
            width: 200px;
            & li {
                display: grid;
                align-self: center;

                &:hover{
                    background-color: rgb(59, 58, 58);
                }
                & button {
                    background: none;
                    border: none;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 12px;
                    color: #EAEAEA;
                    text-align: start;
                }
            }
        }
    }

    & .MA_mobileMenu{
        grid-area: MA_mobileMenu;
        position: relative;
        justify-self: center;
        align-self: center;
        height: 20px;
        width: 28px;
        background-color: none;
        border: none;
        background-color: inherit;


        & .MA_mobileMenuLine1, .MA_mobileMenuLine2, .MA_mobileMenuLine3{
            position: absolute;
            height: 4px;
            width:28px;
            background-color: #fff;
           border-radius: 1px;
        }

        & .MA_mobileMenuLine1{
            top: 0;
            left: 0;
        }

        & .MA_mobileMenuLine2{
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        & .MA_mobileMenuLine3{
            bottom: 0;
            left: 0;
        }

        &:hover{
            cursor: pointer;
        }

    }
}

.navOpen{
    right: 0px;
}

.navClose{
    right: -250px;
}
// hiding the nav in the mobile
.navCommon{
    //border: 1px solid green;
    //min-height: 500px;
   //background: #fff;
    //display: none;
    //min-height: 100%;
    width: 200px;
    height: 100%;
    background-color: $blackMainColor;
    padding: 0px 24px;
    padding-top: 20px;
    padding-bottom: 90px;
    transition: right 0.3s ease-out;
    //overflow-y: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    & ul.MA_navTop {
        height: auto;
        width: 100%;
        list-style-type: none;

        & li {
            justify-content: start;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            align-items: center;
            height: 40px;
            cursor: pointer;

            &:hover > div svg, &:hover > a {
                fill: #fff;
                color: #fff;
            }
            /* ----------LATER ADDITION ----------*/
            & a.MA_navLink{
                text-decoration: none;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                justify-items: center;
                align-items: center;
                grid-gap: 15px;

                &:hover > span.span_navText{
                    color: #fff;
                }
                &:hover > span.span_navIcon svg{
                    fill: #fff;
                }
                span.span_navIcon{
                    align-self: center;
                    display: grid;
                    align-items: center;
                    height: 100%;
                    margin: 0px;
                    font-size: 24px;
                    color: $iconDimColor;
                    & svg {
                        fill: $iconDimColor;
                    }
                }
                span.span_navText{
                    justify-self: start;
                    font-size: 12px;
                    font-weight: 800;
                    color: $iconDimColor;
                    text-decoration: none;
                }
            }

            & button.PlaylistBTNB {
                grid-area: 1/1/1/3;
                width: 100%;
                //height: auto;
                //border: 1px solid red;
                //background: red;
                display: grid;
                grid-template-columns: 26px auto;
                background: none;
                border: none;
                grid-gap: 15px;
                justify-items: center;
                padding: 4px 8px 4px 0px;
                cursor: pointer;

                &:hover > span.MA_navPLusIcon{
                    background-color: #fff;
                }
                &:hover > span.MA_navHeartIcon svg {
                    fill: #fff;
                }
                &:hover > span.MA_navLikeda{
                    color: #fff;
                }
                & span.MA_navPLusIcon{
                    border-radius: 2px;
                    font-size: 12px;
                    height: 25px;
                    width: 25px;
                    //border: 1px solid red;
                    display: grid;
                    @include GridParentCentering;
                    background: $iconDimColor;
                    justify-self: start;

                    & svg {
                        fill: #000;
                    }
                }

                & span.MA_navLikeda{
                    font-size: 12px;
                    font-weight: 800;
                    color: $iconDimColor;
                    justify-self: start;
                    align-self: center;
                }

                & span.MA_navHeartIcon {
                    border-radius: 2px;
                    font-size: 12px;
                    height: 25px;
                    width: 25px;
                    //border: 1px solid red;
                    @include GridParentCentering;
                    background: linear-gradient(to bottom right, #462FA6, #798C9A);
                    color: $iconDimColor;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    justify-self: start;
                    & svg {
                        fill: $iconDimColor;
                    }
                }




            }
        }

        & li.MA_navTopPlaylist_gap{
            // matching with the bot gap
            height: 30px;
        }
    }

    & ul.MA_navBot{
        position: relative;
        margin-top: 30px;
        height: auto;
        list-style-type: none;
        height: 100%;
        list-style-type: none;
        overflow-y: scroll;
        padding-bottom: 200px;

        & li {
            height: 30px;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            color: $profileNavDimText;
            &:hover > a  {
                color: #fff;
            }
            & a {
                display: block;
                color: $profileNavDimText;
                text-decoration: none;
                width: 100%;
                padding: 8px 4px 8px 0px;
                width: calc(98%);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                //background: green;

                &:hover {
                    color: #fff;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 11px;
            background-color: $blackMainColor; /* or add it to the track */
          }

        &::-webkit-scrollbar-thumb {
            background: #4D4D4D;
          }
    }
}

.MA_nav{
    top: 0px;
    position: fixed;
    z-index: 99;

    & div.MA_navTopDiv{
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 10px;

      & button {
          height: 100%;
          background: $blackMainColor;
          border: none;
      }

      & button.MA_navCloseBtn{
        justify-self: end;
        background: $blackMainColor;
        width: 50px;
        font-size: 38px;
        border: none;
        cursor: pointer;
        & svg {
            fill: #fff;
        }
      }
    }
}

.MA_navLinkActive{

    & > * {
        color: #fff !important;
    }
    & span.span_navText{
        color:#ffff ;
    }
    & span.span_navIcon svg{
        fill: #fff !important;
    }
}

.MA_plaulistA_Active{
    color: #fff !important;
}

.MA_navHeartIconActive{
    & svg {
        fill: #fff !important;
    }
}



// --> control this later on with chilld contianers
.MA_outletContainer{
    width: 100%;
    height: auot;
    //padding: 30px 10px;
    //background-color: $OutletBackground;
    background: linear-gradient(to bottom, #212121,5%,#121212);
    padding-bottom: 150px;
    grid-area: 2/1/3/2;
}


.MA_notificationUL{
    list-style-type: none;
    position: fixed;
    bottom: 120px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    background: none;
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    & li {
        width: 120px;
        background: none;
        height: 50px;
        overflow: hidden;
        & p {
            opacity: 0;
            margin-top: 100%;
            width: 120px;
            display: grid;
            align-items: center;
            justify-items: center;
            background: #1D75DE;
            font-size: 12px;
            font-weight: 500;
            border-radius: 8px;
            padding: 12px 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.notificationAppear{
    margin-top: 0px !important;
    opacity: 1 !important;
    transition: all 0.3s ease-in;
}

.notificationDissapear{
    margin-top: -100% !important;
    opacity: 0;
    transition: all 0.3s ease-in;
}

// padding: 30px 24px;
@media only screen and (min-width: 420px){
    .MA_outletContainer{
        //padding: 30px 24px;
    }
    
}

// empty
@media only screen and (min-width: 480px){

}
//changing the heading
@media only screen and (min-width: 576px){
    .MA_header{
        background-color: $blackMainColor;
        height: 65px;
        color: inherit;
        padding: 0px 24px;
        display: grid;
        grid-template-columns: 1fr auto auto 15px auto;
        grid-template-rows: 1fr;
        grid-template-areas: "MA_logotext . MA_headerprofilebtnnav . MA_mobileMenu";
    
        & .MA_logoTextContainer{
            grid-area: MA_logotext;
            justify-self: start;
            font-size: 25px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 5px;
            align-self: center;
            align-items: center;
            justify-items: center;
    
            & .MA_logoContainer{
                @include GridParentCentering;
            }
            & .MA_logoText{
                font-weight: 700;
            }
        }
    
        & .MA_headerProfileBtnNav{
            grid-area: MA_headerprofilebtnnav;
            align-self: center;
            justify-self: end;
            height: auto;
            width: auto;
            cursor: pointer;
            //border: 1px solid green;
    
            /* Separate for Image and Icon */
            // color: #535353;
    
            //button
            & .MA_headerProfileBtn{
                //border: 1px solid red;
                height: auto;
                width: auto;
                cursor: pointer;
                overflow: hidden;
                display: grid;
                border-radius: none;
                border-radius: 0px;
                grid-template-columns: 30px auto auto;
                grid-template-rows: 30px;
                background: inherit;
                align-items: center;
                grid-column-gap: 8px;
    
                & div.MA_headerProfileBtnIMGCON{
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    overflow: hidden;
                    & img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                

                & div.MA_headerProfileBtnNMCON {
                    max-width: 150px;
                    display: grid;
                    
                    & h1 {
                        font-size: 14px;
                        font-weight: 700;
                        color: #fff;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                    }
                }
    
                & div.MA_headerProfileBtnIIconCON{
                    display: grid;

                    & svg {
                        font-size: 18px;
                    }
                }
    
                
            }
    
            // ul
            & .MA_headerProfileNav{
                display: none;
                position: absolute;
                list-style-type: none;
                top: 40px;
                right: 0;
                width: 196px;
                border-radius: 5px;
                background-color: $profileNavBackground;
    
                & li {
                    height: 40px;
                    font-size: 13px;
                    font-weight: 600;
                    color: $profileNavDimText;
                    display: grid;
                    align-self: center;
                    padding: 12px;
                    cursor: pointer;
                }
            }
        }
    
        & .MA_mobileMenu{
            grid-area: MA_mobileMenu;
            position: relative;
            justify-self: center;
            align-self: center;
            height: 20px;
            width: 28px;
            background-color: none;
            border: none;
            background-color: inherit;
    
    
            & .MA_mobileMenuLine1, .MA_mobileMenuLine2, .MA_mobileMenuLine3{
                position: absolute;
                height: 4px;
                width:28px;
                background-color: #fff;
               border-radius: 1px;
            }
    
            & .MA_mobileMenuLine1{
                top: 0;
                left: 0;
            }
    
            & .MA_mobileMenuLine2{
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
    
            & .MA_mobileMenuLine3{
                bottom: 0;
                left: 0;
            }
    
            &:hover{
                cursor: pointer;
            }
    
        }
    }
}

/* SIZE FOR THE MAIN APP */
/* NAV ---> OTHER COMPONENTS ===>SEPATATION */
//-> removing mobile navigation
// desktopNav
@media only screen and (min-width: 768px){

    /* smaller screen  */
    // setting padding from the main container
    .MainApp_container{
        // all devices padding
        overflow-x: hidden;
        min-height: 100vh;
        position: relative;
        display: grid;
        grid-template-columns: 215px 1fr;
        grid-template-rows: 65px 1fr;
        color: #fff;
        overflow: hidden;
        background: $blackMainColor;
        background: none;
        background: linear-gradient(to bottom, #212121,5%,#121212)
    }

    .MA_header{
        //background-color: $blackMainColor;
        grid-area: 1/2/2/3;
        height: 65px;
        color: inherit;
        padding: 0px 24px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "MA_headerprofilebtnnav";
        //background: none;
        //background: none !important;
        & .MA_logoTextContainer{
            grid-area: MA_logotext;
            justify-self: start;
            font-size: 25px;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 5px;
            align-self: center;
            align-items: center;
            justify-items: center;
            display:none;
    
            & .MA_logoContainer{
                @include GridParentCentering;
            }
            & .MA_logoText{
                font-weight: 700;
            }
        }
    
        & .MA_headerProfileBtnNav{
            grid-area: MA_headerprofilebtnnav;
            align-self: center;
            justify-self: end;
            height: auto;
            width: auto;
            cursor: pointer;
            //border: 1px solid green;
            //background: $blackMainColor;
            /* Separate for Image and Icon */
            // color: #535353;
            //border-radius: 20px;
    
            //button
            & .MA_headerProfileBtn{
                padding: 5px 5px;
                //border: 1px solid red;
                height: auto;
                width: auto;
                cursor: pointer;
                overflow: hidden;
                display: grid;
                //border-radius: none;
                border-radius: 25px;
                grid-template-columns: 30px auto auto;
                grid-template-rows: 30px;
                background: inherit;
                align-items: center;
                grid-column-gap: 8px;
                background: $blackMainColor;
    
                & div.MA_headerProfileBtnIMGCON{
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    overflow: hidden;
                    & img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                

                & div.MA_headerProfileBtnNMCON {
                    max-width: 150px;
                    display: grid;
                    
                    & h1 {
                        font-size: 14px;
                        font-weight: 700;
                        color: #fff;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                    }
                }
    
                & div.MA_headerProfileBtnIIconCON{
                    display: grid;

                    & svg {
                        font-size: 18px;
                    }
                }
    
                
            }
    
            // ul
            & .MA_headerProfileNav{
                display: none;
                position: absolute;
                list-style-type: none;
                top: 40px;
                right: 0;
                width: 196px;
                border-radius: 5px;
                background-color: $profileNavBackground;
    
                & li {
                    height: 40px;
                    font-size: 13px;
                    font-weight: 600;
                    color: $profileNavDimText;
                    display: grid;
                    align-self: center;
                    padding: 12px;
                    cursor: pointer;
                }
            }
        }
    
        & .MA_mobileMenu{
            grid-area: MA_mobileMenu;
            position: relative;
            justify-self: center;
            align-self: center;
            height: 20px;
            width: 28px;
            background-color: none;
            border: none;
            background-color: inherit;
            display: none;
    
    
            & .MA_mobileMenuLine1, .MA_mobileMenuLine2, .MA_mobileMenuLine3{
                position: absolute;
                height: 4px;
                width:28px;
                background-color: #fff;
               border-radius: 1px;
            }
    
            & .MA_mobileMenuLine1{
                top: 0;
                left: 0;
            }
    
            & .MA_mobileMenuLine2{
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
    
            & .MA_mobileMenuLine3{
                bottom: 0;
                left: 0;
            }
    
            &:hover{
                cursor: pointer;
            }
    
        }
    }

    .navOpen{
        right: 0px;
    }

    .navClose{
        right: -250px;
    }
    // hiding the nav in the mobile
    .MA_nav{
        
    }
    .MA_navMain{
        grid-area: 1/1/3/2;
        //border: 1px solid green;
        z-index: 8;
        position: relative;
        position: fixed;
        left: 0;
        top: 0;
        //max-height: 100vh;
        height: 100%;
        width: 100%;
        width: 215px;
        padding-right: 0px;
        //background: #fff;
        //display: none;
        //background-color: $blackMainColor;
        transition: right 0.3s ease-out;

        & div.MA_navTopDiv{
            padding-bottom: 0px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50px 30px;

            & .MA_logoTextContainer{
                justify-self: start;
                font-size: 25px;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 5px;
                align-self: end;
                align-items: center;
                justify-items: center;
        
                & .MA_logoContainer{
                    @include GridParentCentering;
                }
                & .MA_logoText{
                    font-weight: 700;
                }
            }
    
        }
        & ul.MA_navTop {
            padding-right: 10px;
            height: auto;
            width: 100%;
            list-style-type: none;
            //overflow: hidden;

            & li {
                justify-content: start;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 15px;
                align-items: center;
                height: 40px;
                cursor: pointer;
            /* ----------LATER ADDITION ----------*/
            & a.MA_navLink{
                //background: red;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                justify-items: center;
                align-items: center;
                grid-gap: 15px;

                &:hover > span.span_navText{
                    color: #fff;
                }
                &:hover > span.span_navIcon svg{
                    fill: #fff;
                }
                span.span_navIcon{
                    align-self: center;
                    display: grid;
                    align-items: center;
                    height: 100%;
                    margin: 0px;
                    font-size: 24px;
                    color: $iconDimColor;
                    & svg {
                        fill: $iconDimColor;
                    }
                }
                span.span_navText{
                    justify-self: start;
                    color: $iconDimColor;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            & button.PlaylistBTNB {
                width: 100%;
                //height: auto;
                //border: 1px solid red;
                //background: red;
                display: grid;
                grid-template-columns: 26px auto;
                background: none;
                border: none;
                grid-gap: 15px;
                justify-items: center;
                padding: 4px 8px 4px 0px;
                cursor: pointer;

                &:hover > span.MA_navPLusIcon{
                    background-color: #fff;
                }
                &:hover > span.MA_navHeartIcon svg {
                    fill: #fff;
                }
                &:hover > span.MA_navLikeda{
                    color: #fff;
                }
                & span.MA_navPLusIcon{
                    border-radius: 2px;
                    font-size: 12px;
                    height: 25px;
                    width: 25px;
                    //border: 1px solid red;
                    display: grid;
                    @include GridParentCentering;
                    background: $iconDimColor;
                    justify-self: start;

                    & svg {
                        fill: #000;
                    }
                }

                & span.MA_navLikeda{
                    justify-self: start;
                    align-self: center;
                    font-size: 14px;
                    font-weight: 800;
                }

                & span.MA_navHeartIcon {
                    border-radius: 2px;
                    font-size: 12px;
                    height: 25px;
                    width: 25px;
                    //border: 1px solid red;
                    @include GridParentCentering;
                    background: linear-gradient(to bottom right, #462FA6, #798C9A);
                    color: $iconDimColor;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    justify-self: start;
                    & svg {
                        fill: $iconDimColor;
                    }
                }




            }

                
                
            }

            & li.MA_navTopPlaylist_gap{
                // matching with the bot gap
                height: 30px;
            }
        }

        & ul.MA_navBot{
            position: relative;
            margin-top: 30px;
            height: 100%;
            list-style-type: none;
            overflow-y: scroll;

            & li {
                height: 30px;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
                color: $profileNavDimText;

                & a {
                    color: $profileNavDimText;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }

    // --> control this later on with chilld contianers
    .MA_outletContainer{
        grid-area: 2/2/3/3;
        width: 100%;
        height: auto;
        //padding: 30px 10px;
        padding-bottom: 150px;
        //background-color: $OutletBackground;
        background: none;
    }



}
@media only screen and (min-width: 992px){
}

@media only screen and (min-width: 1200px){
}

@media only screen and (min-width: 1400px){

}
// @media only

// 576
//768
//992
//1200
//1400


